/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

a { color: #2670B8; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 1em 2em; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/*
* Skeleton V1.0.3
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 7/17/2011
*/


/* #Buttons
================================================== */
	
	a.button, 
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		background-color: #438DBC;
		background-image: -webkit-gradient(
		    linear,
		    right top,
		    right bottom,
		    color-stop(0.46, rgb(67,122,170)),
		    color-stop(0.87, rgb(57,105,146))
		);
		background-image: -moz-linear-gradient(
		    center top,
		    rgb(67,122,170) 46%,
		    rgb(57,105,146) 87%
		);
		background-image: -webkit-gradient-linear-gradient(
		    center top,
		    rgb(67,122,170) 46%,
		    rgb(57,105,146) 87%
		);
		background-image: -o-linear-gradient(
		    center top,
		    rgb(67,122,170) 46%,
		    rgb(57,105,146) 87%
		);
		background-image: -ms-linear-gradient(
		    center top,
		    rgb(67,122,170) 46%,
		    rgb(57,105,146) 87%
		);
		background-image: linear-gradient(
		    center top,
		    rgb(67,122,170) 46%,
		    rgb(57,105,146) 87%
		);
	  border: 1px solid #aaa;
	  border-top: 1px solid #ccc;
	  border-left: 1px solid #ccc;
	  padding: 4px 12px;
	  -moz-border-radius: 3px;
	  -webkit-border-radius: 3px;
	  border-radius: 3px;
	  color: #FFF;
	  display: inline-block;
	  font-size: 11px;
	  font-weight: bold;
	  text-decoration: none;

	  cursor: pointer;
	  margin-bottom: 20px;
	  line-height: 21px;
	  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }
	  
	a.button:hover, 
	button:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover {
		color: #FFF;
background: #ffaf4b; /* Old browsers */
background: -moz-linear-gradient(top, #ffaf4b 0%, #ff920a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffaf4b), color-stop(100%,#ff920a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffaf4b 0%,#ff920a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffaf4b 0%,#ff920a 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #ffaf4b 0%,#ff920a 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #ffaf4b 0%,#ff920a 100%); /* W3C */
	  border: 1px solid #888;
	  border-top: 1px solid #aaa;
	  border-left: 1px solid #aaa; }
	  
  a.button:active, 
  button:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active {
background: #63b6db; /* Old browsers */
background: -moz-linear-gradient(top, #63b6db 0%, #309dcf 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#63b6db), color-stop(100%,#309dcf)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #63b6db 0%,#309dcf 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #63b6db 0%,#309dcf 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #63b6db 0%,#309dcf 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63b6db', endColorstr='#309dcf',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #63b6db 0%,#309dcf 100%); /* W3C */
    background: linear-gradient(top, rgba(0,0,0,.3) 0%,rgba(255,255,255,.3) 100%); /* W3C */
    border: 1px solid #888;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa; }
	
	.button.full-width, 
	button.full-width,
	input[type="submit"].full-width,
	input[type="reset"].full-width,
	input[type="button"].full-width { 
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center; }
		
/* #Forms
================================================== */

	form { 
		margin-bottom: 20px; }
	fieldset { 
		margin-bottom: 20px; }
	input[type="text"], 
	input[type="password"],
	input[type="email"],
	textarea, 
	select {
		border: 1px solid #ccc;
		padding: 6px 4px;
		outline: none;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #777;
		margin: 0;
		width: 210px;
		max-width: 100%;
		display: block;
		margin-bottom: 20px;
		background: #fff; }
	select { 
		padding: 0; }
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus, 
	textarea:focus {
		border: 1px solid #aaa;
 		color: #444;
 		-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
		-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
		box-shadow:  0 0 3px rgba(0,0,0,.2); }
	textarea {
		min-height: 60px; }
	label,
	legend { 
		display: block;
		font-size: 13px;  }
	select { 
		width: 220px; }
	input[type="checkbox"] {
		display: inline; }
	label span,
	legend span {
		font-weight: normal;
		font-size: 13px;
		color: #444; }	
		
	input[type="text"], 
	input[type="password"],
	input[type="email"], textarea {
		
	   -moz-transition: all 0.3s linear;  /* FF4+ */
	     -o-transition: all 0.3s linear;  /* Opera 10.5+ */
	-webkit-transition: all 0.3s linear;  /* Saf3.2+, Chrome */
	    -ms-transition: all 0.3s linear;  /* IE10? */
	        transition: all 0.3s linear;  
	}	



/* Table of Contents
==================================================
#Base 960 Grid
#Tablet (Portrait)
#Mobile (Portrait)
#Mobile (Landscape)
#Clearing */
    
    

/* #Base 960 Grid
================================================== */

.container { position: relative; width: 960px; margin: 0 auto; padding: 0; }
.column, .columns { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
.row { margin-bottom: 20px; }

/* Nested Column Classes */
.column.alpha, .columns.alpha { margin-left: 0; }
.column.omega, .columns.omega { margin-right: 0; }

/* Base Grid */
.container .one.column { width: 40px; }
.container .two.columns { width: 100px; }
.container .three.columns { width: 160px; }
.container .four.columns { width: 220px; }
.container .five.columns { width: 280px; }
.container .six.columns { width: 340px; }
.container .seven.columns { width: 400px; }
.container .eight.columns { width: 460px; }
.container .nine.columns { width: 520px; }
.container .ten.columns { width: 580px; }
.container .eleven.columns { width: 640px; }
.container .twelve.columns { width: 700px; }
.container .thirteen.columns { width: 760px; }
.container .fourteen.columns { width: 820px; }
.container .fifteen.columns { width: 880px; }
.container .sixteen.columns { width: 940px; }

.container .one-third.column { width: 300px; }
.container .two-thirds.column { width: 620px; }

/* Offsets */
.container .offset-by-one { padding-left: 60px; }
.container .offset-by-two { padding-left: 120px; }
.container .offset-by-three { padding-left: 180px; }
.container .offset-by-four { padding-left: 240px; }
.container .offset-by-five { padding-left: 300px; }
.container .offset-by-six { padding-left: 360px; }
.container .offset-by-seven { padding-left: 420px; }
.container .offset-by-eight { padding-left: 480px; }
.container .offset-by-nine { padding-left: 540px; }
.container .offset-by-ten { padding-left: 600px; }
.container .offset-by-eleven { padding-left: 660px; }
.container .offset-by-twelve { padding-left: 720px; }
.container .offset-by-thirteen { padding-left: 780px; }
.container .offset-by-fourteen { padding-left: 840px; }
.container .offset-by-fifteen { padding-left: 900px; }



/* #Tablet (Portrait)
================================================== */

/* Note: Design for a width of 768px */

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .container { width: 768px; }
    .container .column,
    .container .columns { margin-left: 10px; margin-right: 10px; }
    .column.alpha, .columns.alpha { margin-left: 0; margin-right: 10px; }
    .column.omega, .columns.omega { margin-right: 0; margin-left: 10px; }

    .container .one.column { width: 28px; }
    .container .two.columns { width: 76px; }
    .container .three.columns { width: 124px; }
    .container .four.columns { width: 172px; }
    .container .five.columns { width: 220px; }
    .container .six.columns { width: 268px; }
    .container .seven.columns { width: 316px; }
    .container .eight.columns { width: 364px; }
    .container .nine.columns { width: 412px; }
    .container .ten.columns { width: 460px; }
    .container .eleven.columns { width: 508px; }
    .container .twelve.columns { width: 556px; }
    .container .thirteen.columns { width: 604px; }
    .container .fourteen.columns { width: 652px; }
    .container .fifteen.columns { width: 700px; }
    .container .sixteen.columns { width: 748px; }
    
    .container .one-third.column { width: 236px; }
    .container .two-thirds.column { width: 492px; }
    
    /* Offsets */
    .container .offset-by-one { padding-left: 48px; }
    .container .offset-by-two { padding-left: 96px; }
    .container .offset-by-three { padding-left: 144px; }
    .container .offset-by-four { padding-left: 192px; }
    .container .offset-by-five { padding-left: 240px; }
    .container .offset-by-six { padding-left: 288px; }
    .container .offset-by-seven { padding-left: 336px; }
    .container .offset-by-eight { padding-left: 348px; }
    .container .offset-by-nine { padding-left: 432px; }
    .container .offset-by-ten { padding-left: 480px; }
    .container .offset-by-eleven { padding-left: 528px; }
    .container .offset-by-twelve { padding-left: 576px; }
    .container .offset-by-thirteen { padding-left: 624px; }
    .container .offset-by-fourteen { padding-left: 672px; }
    .container .offset-by-fifteen { padding-left: 720px; }
}


/* #Mobile (Portrait)
================================================== */

/* Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {
    .container { width: 300px; }
    .columns, .column { margin: 0; }
    
    .container .one.column,
    .container .two.columns,
    .container .three.columns,
    .container .four.columns,
    .container .five.columns,
    .container .six.columns,
    .container .seven.columns,
    .container .eight.columns,
    .container .nine.columns,
    .container .ten.columns,
    .container .eleven.columns,
    .container .twelve.columns,
    .container .thirteen.columns,
    .container .fourteen.columns,
    .container .fifteen.columns,
    .container .sixteen.columns,
    .container .one-third.column,
    .container .two-thirds.column { width: 300px; }
    
    /* Offsets */
    .container .offset-by-one,
    .container .offset-by-two,
    .container .offset-by-three,
    .container .offset-by-four,
    .container .offset-by-five,
    .container .offset-by-six,
    .container .offset-by-seven,
    .container .offset-by-eight,
    .container .offset-by-nine,
    .container .offset-by-ten,
    .container .offset-by-eleven,
    .container .offset-by-twelve,
    .container .offset-by-thirteen,
    .container .offset-by-fourteen,
    .container .offset-by-fifteen { padding-left: 0; }
            
}


/* #Mobile (Landscape)
================================================== */

/* Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container { width: 420px; }
    .columns, .column { margin: 0; }
    
    .container .one.column,
    .container .two.columns,
    .container .three.columns,
    .container .four.columns,
    .container .five.columns,
    .container .six.columns,
    .container .seven.columns,
    .container .eight.columns,
    .container .nine.columns,
    .container .ten.columns,
    .container .eleven.columns,
    .container .twelve.columns,
    .container .thirteen.columns,
    .container .fourteen.columns,
    .container .fifteen.columns,
    .container .sixteen.columns,
    .container .one-third.column,
    .container .two-thirds.column { width: 420px; }
}
     
    
/* #Clearing
================================================== */
	
	/* Self Clearing Goodness */
	.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
	
	/* Use clearfix class on parent to clear nested columns,
	or wrap each row of columns in a <div class="row"> */
	.clearfix:before,
	.clearfix:after,
	.row:before,
	.row:after {
	  content: '\0020';
	  display: block;
	  overflow: hidden;
	  visibility: hidden;
	  width: 0;
	  height: 0; }
	.row:after,
	.clearfix:after {
	  clear: both; }
	.row,
	.clearfix {
	  zoom: 1; }
	  
	/* You can also use a <br class="clear" /> to clear columns */
	.clear {
	  clear: both;
	  display: block;
	  overflow: hidden;
	  visibility: hidden;
	  width: 0;
	  height: 0;
	}

/* ==|== primary styles =====================================================
   Author: http://ryck.me/
   ========================================================================== */
	@font-face {
	    font-family: 'DroidSansRegular';
	    src: url('DroidSans-webfont.eot');
	    src: url('DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
	         url('DroidSans-webfont.woff') format('woff'),
	         url('DroidSans-webfont.ttf') format('truetype'),
	         url('DroidSans-webfont.svg#DroidSansRegular') format('svg');
	    font-weight: normal;
	    font-style: normal;
	
	}
	
	@font-face {
	    font-family: 'DroidSansBold';
	    src: url('DroidSans-Bold-webfont.eot');
	    src: url('DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
	         url('DroidSans-Bold-webfont.woff') format('woff'),
	         url('DroidSans-Bold-webfont.ttf') format('truetype'),
	         url('DroidSans-Bold-webfont.svg#DroidSansBold') format('svg');
	    font-weight: normal;
	    font-style: normal;
	
	}


	body {
		background-color: #eee;
		margin-top: 2em;
		font-family: DroidSansRegular;
	}
	.container {
	}
	.content {
	}
	.content section {
		font-size: 125%;
	}
	.first-letter {

		 float: left;
		 font-family: Old English, Georgia,serif;
		 font-size: 250%;
		 line-height: 0.85em;
		 margin-right: 0.03em;
		 margin-bottom:-0.25em;
		
	}
	header {
		text-align: right;
	}
	header h1 {
		font-family: DroidSansBold;
		font-size: 300%;
		margin: 0 0 .1em 0;
	}
	header h2 {
		margin: 0;
	}
	header h3 {
		font-size: 24px;
		margin: .5em 0;
	}
	header h3 span {
		margin: 0 0 0 1em;
	}
	#menu {
		
	}
	#logo  {
		text-align: right;
	}
	#sidebar nav {
		
		padding: 0;
	}
	#sidebar ul {

	}

	#sidebar li {
		padding: 0.5em 0;
		text-align: right;
	}

	#sidebar ul a {
		color: #333333;
		font-size: 150%;
		font-weight: bold;
		text-decoration: none;

    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;   
	}
	#sidebar ul a.active {
		border-bottom: 3px solid #F48E06;
	}
	#sidebar ul a:hover {
		border-bottom: 3px solid #56b6de;
	}
	.promociones ul {
		margin: 0;
		padding: 0;
	}
	.promociones li {
		list-style-type: none;
		margin: 0 0 .5em 0;
	}
	h3.cabecera {
		background-color: #438DBC;
		border-radius: 3px 3px 3px 3px;
		color: #FFFFFF;
		padding: 0.2em .4em;
		margin-top: 0;
		line-height: 1.17em;
		text-shadow: 1px 1px 1px #142767;
		background-image: -webkit-gradient(
		    linear,
		    right top,
		    right bottom,
		    color-stop(0.46, rgb(67,122,170)),
		    color-stop(0.87, rgb(57,105,146))
		);
		background-image: -moz-linear-gradient(
		    center top,
		    rgb(67,122,170) 46%,
		    rgb(57,105,146) 87%
		);
		background-image: -webkit-gradient-linear-gradient(
		    center top,
		    rgb(67,122,170) 46%,
		    rgb(57,105,146) 87%
		);
		background-image: -o-linear-gradient(
		    center top,
		    rgb(67,122,170) 46%,
		    rgb(57,105,146) 87%
		);
		background-image: -ms-linear-gradient(
		    center top,
		    rgb(67,122,170) 46%,
		    rgb(57,105,146) 87%
		);
		background-image: linear-gradient(
		    center top,
		    rgb(67,122,170) 46%,
		    rgb(57,105,146) 87%
		);
		
		 
	}
	article img {
		border: 1px solid silver;
		padding: 5px;
		background-color: #fff;
	}
	article figure {
		margin: 2em 0 0 0;
	}

	.slogan {
		ext-shadow: 1px 1px 0 #FFFFFF;

	}
	#sidebar aside {
		
		text-align: right;
	}

	footer.pie {
		text-align: right;
		font-size: 80%;
	}
	.pie a, header a {
		color: #333;
		text-decoration: none;
	}
	
	#mapa_ubicacion {
		width: 100%;
		height: 200px;
		border: 1px solid silver;
	}
	#mapa_contacto {
		width: 100%;
		height: 300px;
		border: 1px solid silver;
	}	
	
	.ubicacion aside {
		font-size: 80%;
		margin: 0 0 1em;
		text-align: right;
 	}
	.kaps, dl#areas dt {
		font-weight: bold;
		color: #2670B8;
	}
	ul.cursos li {
	  margin-bottom: 0.5em;
	}
	
  @-webkit-keyframes ringing {
          0% {
    -webkit-transform: translate(1px,0);
    -moz-transform: translate(1px, 0);
    -o-transform: translate(1px,0);
    transform: translate(1px,0);
          }
          100% {
    -webkit-transform: translate(-1px,0);
    -moz-transform: translate(-1px, 0);
    -o-transform: translate(-1px,0);
    transform: translate(-1px,0);
          }
  }
  @-moz-keyframes ringing {
          0% {
    -webkit-transform: translate(1px,0);
    -moz-transform: translate(1px, 0);
    -o-transform: translate(1px,0);
    transform: translate(1px,0);
          }
          100% {
    -webkit-transform: translate(-1px,0);
    -moz-transform: translate(-1px, 0);
    -o-transform: translate(-1px,0);
    transform: translate(-1px,0);
          }
  }  
	.slogan h3 span:hover img {
     -webkit-animation: ringing .1s 0 10 alternate;
    -moz-animation-name: ringing;
    -moz-animation-duration: 0.1s;
    -moz-animation-delay: 0;
    -moz-animation-iteration-count: 10;
    -moz-animation-direction: alternate;
 
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;     
    transition: all .1s linear;
     
  }
  
	hr.faded {
	  clear: both; 
	  float: none; 
	  width: 100%; 
	  height: 1px;
	  margin: 1.4em 0;
	  border: none; 
	  background: #ddd;
	  background-image: -webkit-gradient(
	      linear,
	      left bottom,
	      right bottom,
	      color-stop(0, rgb(255,255,255)),
	      color-stop(0.1, rgb(221,221,221)),
	      color-stop(0.9, rgb(221,221,221)),
	      color-stop(1, rgb(255,255,255))
	  );
	  background-image: -moz-linear-gradient(
	      left center,
	      rgb(255,255,255) 0%,
	      rgb(221,221,221) 10%,
	      rgb(221,221,221) 90%,
	      rgb(255,255,255) 100%
	  );
	}
	hr.carved {
	  clear: both; 
	  float: none; 
	  width: 100%; 
	  height: 2px;
	  margin: 1.4em 0;
	  border: none; 
	  background: #ddd;
	  background-image: -webkit-gradient(
	      linear,
	      left top,
	      left bottom,
	      color-stop(0.5, rgb(221,221,221)),
	      color-stop(0.5, rgb(255,255,255))
	  );
	  background-image: -moz-linear-gradient(
	      center top,
	      rgb(221,221,221) 50%,
	      rgb(255,255,255) 50%
	  );
	}

#contact-form input,
#contact-form select,
#contact-form textarea {
    width:100%;
    margin-bottom:1em;
    padding:4px 0;
}


#contact-form textarea {
  min-height: 130px;
}

#contact-form label {
    display:block;
}

#contact-form .required {
    font-weight:bold;
    color:#438DBC;
}



#contact-form #loading {
    background: url("../img/loading.gif") no-repeat scroll center center transparent;
    display: none;
    height: 32px;
    width: 100%;    
}

#errors {
    border:solid 1px #E58E8E;
    margin: 0 0 1em;
    padding: 0.5em 0;
    display:block;
    -webkit-border-radius:.2em;
    -moz-border-radius:.2em;
    border-radius:.2em;
    background:#FFE6E6;
    display:none;
    font-size: 0.7em;
}

#errors li {
    padding:0 .5em;
    list-style:none;
}

#errors li:before {
    content: ' - ';
}

#errors #info {
    font-weight:bold;
}

#errors #info:before {
    content: '';
}

#success {
    border:solid 1px #83D186;
    margin: 0 0 1em;
    padding: 0.5em;
    display:block;
    -webkit-border-radius:.2em;
    -moz-border-radius:.2em;
    border-radius:.2em;
    background:#D3EDD3;
    font-weight:bold;
    display:none;
    font-size: 0.7em;
}

#errors.visible, #success.visible {
    display:block;
}

#req-field-desc {
    font-size: 0.8em;
    font-style: italic;
    text-align: right;
}
.pedir-cita {
  width: 100%;
}
  
/* Remove box shadow firefox, chrome and opera put around required fields. It looks rubbish. */
input:required, textarea:required {
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    -o-box-shadow:none;
    box-shadow:none;
}

/* Normalize placeholder styles */

/* chrome, safari */
::-webkit-input-placeholder {
    color:#CCC;
    font-style:italic;
}

/* mozilla */
input:-moz-placeholder, textarea:-moz-placeholder {
    color:#CCC;
    font-style:italic;
}

/* ie (faux placeholder) */
input.placeholder-text, textarea.placeholder-text  {
    color:#CCC;
    font-style:italic;
}




/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 768px) {

}



/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
